@import "tailwindcss";

body {
  font-family: var(--font-plus-jakarta-sans), sans-serif;
}

.loop-scroll {
  animation: marquee 20s linear infinite;
}

.loop-scroll:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@layer base {
  .custom-container {
    @apply mx-auto max-w-384  px-2 2xl:px-0;
  }
}
