@import "tailwindcss";

body {
  font-family: var(--font-plus-jakarta-sans), sans-serif;
}

.loop-scroll {
  animation: marquee 20s linear infinite;
}

.loop-scroll:hover {
  animation-play-state: paused;
}

@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
